<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../styles.css"></link>
    <title>pagina de usuarios</title>
  </head>
  <body>
    <div class="container-fluid" >
      <div class="row"  >
        <div class="row">
          <div class="col-md-4"> <!--foto-->
            <img src="../assets/rana1.jpeg" alt="Usuario1" class="img-responsive img-rounded center-block" />
          </div>
          <div class="col-md-8" > <!--biografia-->
            <div class="padtext">
              <h1>Lorem Ipsum 1</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna dolor, fringilla eu odio eu, feugiat elementum ex. Donec a pharetra ex. Donec turpis elit, porta eu cursus in, volutpat consequat felis. Sed lacinia justo ut tortor elementum condimentum. Nam ullamcorper, orci in lobortis sodales, massa dui bibendum turpis, nec rhoncus lacus ex at sapien. Quisque nec diam at orci tristique eleifend. Phasellus lacinia ullamcorper convallis. Aliquam fringilla porta vehicula. Ut congue tempor consectetur. Duis ac tempor neque. Praesent tortor augue, suscipit non libero quis, pretium porttitor augue.
              </p>
            </div>
          </div>
        </div>
          <div class="container" >
           <form class="form-horizontal" role="form">
             <div class="form-group">
               <label class="control-label col-sm-2" for="name">Nombre:</label>
               <div class="col-sm-10">
                 <input type="text" class="form-control" id="name" placeholder="Lorem 1">
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-2" for="lastname">Apellidos:</label>
               <div class="col-sm-10">
                 <input type="text" class="form-control" id="email" placeholder="Ipsum 1">
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-2" for="pwd">Password:</label>
               <div class="col-sm-10">
                 <input type="password" class="form-control" id="pwd" placeholder="Esta es mi contraseña">
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-2" for="email">Fecha de nacimiento:</label>
               <div class="col-sm-10">
                 <input type="date" class="form-control" id="email" placeholder="29/02/2000">
               </div>
             </div>
             <div class="form-group">
                <label  class="control-label col-sm-2" for="gender">G&eacute;nero:</label>
                <div class="col-sm-10">
                 <select class="form-control" id="sel1">
                      <option>Masculino</option>
                      <option>Femenino</option>
                      <option>No especifica</option>
                </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-sm-2" for="email">Email:</label>
                 <div class="col-sm-10">
                   <input type="email" class="form-control" id="email" placeholder="lorem@ipsum.com">
                 </div>
               </div>
             </div>
        </div>

        <div class="row">
          <div class="col-md-4"> <!--espacio vacio-->

          </div>
          <div class="col-md-4"> <!--editar-->
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Borrar</button>
              </div>
            </div>
          </div>
          <div class="col-md-4"> <!--borrar-->
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Editar</button>
            </div>
          </div>
          <div class="col-md-4"> <!--espacio vacio-->

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" >
      <div class="row"  >
        <div class="row">
          <div class="col-md-4"> <!--foto-->
            <img src="../assets/rana1.jpeg" alt="Usuario1" class="img-responsive img-rounded center-block" />
          </div>
          <div class="col-md-8" > <!--biografia-->
            <div class="padtext">
              <h1>Ut Comodo</h1>
              <p>
                Donec hendrerit vitae metus et molestie. Curabitur blandit at velit vitae fringilla. Nulla facilisi. Nullam efficitur, nunc vitae placerat rutrum, metus felis luctus magna, vitae feugiat purus purus vitae turpis. Maecenas in libero quis tellus tincidunt efficitur eu ac tellus. Cras ut velit ac sapien fringilla pretium. Nulla id mi neque. Mauris nibh magna, consectetur vel tincidunt at, vulputate sit amet dolor. Pellentesque sit amet enim ut sem posuere ornare in ut eros. Cras tempus, leo luctus lobortis vehicula, dui lectus vulputate tortor, id efficitur ligula lacus eu mauris. Suspendisse potenti. Proin non felis vel sapien ultricies blandit eget vel orci. Vivamus at ullamcorper sapien. In et ante quis tortor luctus suscipit sed non lectus.
              </p>
            </div>
          </div>
        </div>
          <div class="container" >
           <form class="form-horizontal" role="form">
             <div class="form-group">
               <label class="control-label col-sm-2" for="name">Nombre:</label>
               <div class="col-sm-10">
                 <input type="text" class="form-control" id="name" placeholder="Ut 1">
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-2" for="lastname">Apellidos:</label>
               <div class="col-sm-10">
                 <input type="text" class="form-control" id="email" placeholder="Comodo 1">
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-2" for="pwd">Password:</label>
               <div class="col-sm-10">
                 <input type="password" class="form-control" id="pwd" placeholder="Esta es mi contraseña">
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-2" for="email">Fecha de nacimiento:</label>
               <div class="col-sm-10">
                 <input type="date" class="form-control" id="email" placeholder="29/02/2000">
               </div>
             </div>
             <div class="form-group">
                <label  class="control-label col-sm-2" for="gender">G&eacute;nero:</label>
                <div class="col-sm-10">
                 <select class="form-control" id="sel1">
                      <option>Masculino</option>
                      <option>Femenino</option>
                      <option>No especifica</option>
                </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-sm-2" for="email">Email:</label>
                 <div class="col-sm-10">
                   <input type="email" class="form-control" id="email" placeholder="lorem@ipsum.com">
                 </div>
               </div>
             </div>
        </div>

        <div class="row">
          <div class="col-md-4"> <!--espacio vacio-->

          </div>
          <div class="col-md-4"> <!--editar-->
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Borrar</button>
              </div>
            </div>
          </div>
          <div class="col-md-4"> <!--borrar-->
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Editar</button>
            </div>
          </div>
          <div class="col-md-4"> <!--espacio vacio-->

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
