<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../styles.css"></link>
    <title>pagina de usuarios</title>
  </head>
  <body>
    <div class="container-fluid" >
      <div class="row">
        <div class="row">
          <div class="col-md-4"> <!--foto-->
            <img src="../assets/rana1.jpeg" alt="Usuario1" class="img-responsive img-rounded center-block" />
          </div>
          <div class="col-md-8" > <!--biografia-->
            <div class="padtext">
              <h1>Lorem Ipsum 1</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque urna dolor, fringilla eu odio eu, feugiat elementum ex. Donec a pharetra ex. Donec turpis elit, porta eu cursus in, volutpat consequat felis. Sed lacinia justo ut tortor elementum condimentum. Nam ullamcorper, orci in lobortis sodales, massa dui bibendum turpis, nec rhoncus lacus ex at sapien. Quisque nec diam at orci tristique eleifend. Phasellus lacinia ullamcorper convallis. Aliquam fringilla porta vehicula. Ut congue tempor consectetur. Duis ac tempor neque. Praesent tortor augue, suscipit non libero quis, pretium porttitor augue.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"> <!--espacio vacio-->
          </div>
          <div class="col-md-10"> <!--datos completos-->
            <h4>Nombre:</h4><input type="text" name="name" value="Lorem 1">
            <h4>Nombre:</h4><input type="text" name="name" value="Lorem 1">

          </div>
          <div class="col-md-1"> <!--espacio vacio-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"> <!--espacio vacio-->

          </div>
          <div class="col-md-4"> <!--editar-->

          </div>
          <div class="col-md-4"> <!--borrar-->

          </div>
          <div class="col-md-4"> <!--espacio vacio-->

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
